.DS_Store
node_modules/
/dist/
env/
__pycache__
services/*/.vscode/
services/frontend/.prettierrc.json
services/baseball_bot/bot/auth/token.json
services/baseball_bot/bot/auth/private.json
services/frontend/.env
*.hcl
terraform/**/.terraform/*
terraform/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/tfplan
terraform/**/tfplan
terraform/**/plan

terraform/.terraform.tfstate.lock.info
terraform/**/.terraform.tfstate.lock.info

.env
venv/
*.log
*.tmp
.tmp
temp/
test.yaml
services/baseball_bot/auth/token.json
services/baseball_bot/auth/private.json
services/baseball_bot/token.json
services/baseball_bot/bot_local.py
