.DS_Store
node_modules/
/dist/
env/
__pycache__
services/*/.vscode/
services/frontend/.prettierrc.json
services/baseball_bot/bot/auth/token.json
services/baseball_bot/bot/auth/private.json
.env
venv/
*.log
*.tmp
.tmp
temp/