/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-light-gray: #f5f5f58c;
  --vt-c-indigo: #2c3e50;
  --vt-c-dark-gray: #6868686c;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-dark-gray);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {

}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  width: 100%; /* Default to 100% width */
  padding: 0 15px; /* Adding a tiny bit of padding */
  margin: auto; /* Centering content horizontally */

}
.p-datatable-scrollable .p-datatable-frozen-column {
  position: sticky;
  background: var(--color-background) !important;
}

.p-datatable-column-header-content {
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

.compact-table .p-datatable-header,
.compact-table .p-datatable-thead > tr > th,
.compact-table .p-datatable-tbody > tr > td {
  padding: 0.2rem; /* Reduce padding */
  font-size: 0.875rem; /* Smaller font size */
}

 .p-datatable-frozen-column {
  padding: 0.1rem; /* Remove padding to reduce extra space */
  min-width: 0; /* Ensure there's no minimum width forcing extra space */
  width: 0;
  border-right: 1px solid var(--color-border); /* Add a border to the right of the column */
  white-space: nowrap; /* Prevent text from wrapping to ensure everything stays on one line */
  text-align: left;

}


.compact-column.right-aligned {
  text-align: right; /* Align text to the left */
}




.name-image-container {
  display: inline-flex; /* Uses inline-flex to align items in a row and allow the container to grow with content */
  align-items: center;
}

.name-image-container img {
  display: block; /* Removes extra space below the image which is default for inline elements like img */
}



/* Adjust size for smaller screens */

/* Mobile Styles */
@media (max-width: 768px) {
  .p-datatable   .p-column-header-content   {
    font-size: 0.75rem; /* Smaller font size */

  }

  
  .name-image-container span {
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden;    /* Hides text that goes beyond the width */
    text-overflow: ellipsis; /* Adds ellipsis to the hidden overflow text */
    max-width: 7em;    /* Adjust the width as needed */
    display: inline-block; /* Ensures the overflow properties work */
  }
  .img-headshot {
    width: 2rem;
    border-radius: 50%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .p-menubar {
    position: fixed;
    justify-content: start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 72px;

  }

  .p-menubar-button svg {
    width: 25px; /* Increase the width of the SVG */
    height:  25px; /* Increase the height of the SVG */
    justify-content: end;

    /* justify-content: start;
    align-items: start;
    margin: auto; */

  }
  
  .p-menubar-start .navbar-brand img {
    /* align-items: start;
    align-content: start;
    justify-content: start;
    margin: auto; */
    width: 50px; /* Increase the width of the SVG */
    height:  50px; /* Increase the height of the SVG */
  }
  .p-tabview .p-tabview-panels {
    padding: 0;
  }
}

/* Desktop Styles */
@media (min-width: 769px)  {
  .name-image-container span {
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden;    /* Hides text that goes beyond the width */
    text-overflow: ellipsis; /* Adds ellipsis to the hidden overflow text */
    width: 9em;    /* Adjust the width as needed */
    display: inline-block; /* Ensures the overflow properties work */
  }
  .img-headshot {
    width: 5rem;
    border-radius: 50%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .p-menubar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centering content horizontally */
    z-index: 1002;
    width: 100%;
    
  }

}

@media (max-width: 768px) {
  .col-league-id, .col-platform, .col-platform-id, .col-private {
    display: none;
  }
}
/* Medium screens (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1000px) {
  .col-league-id, .col-platform-id, .col-private {
    display: none;
  }
}

.debug-border-red {
  border: 1px solid red; /* You can change the color to make it stand out */
}
.debug-border-blue {
  border: 1px solid blue; /* You can change the color to make it stand out */
}
.debug-border-green {
  border: 1px solid green; /* You can change the color to make it stand out */
}
/* Medium screens (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1200px) {
  body {
    width: 95%; /* Keep 100% width on medium screens */

  }
  .progress-panel {
    width: 95%;
  }
}
/* Medium screens (e.g., laptops) */
@media (min-width: 1200px) and (max-width: 1600px) {
  body {
    width: 90%; /* Keep 100% width on medium screens */

  }
  .progress-panel {
    width: 95%;
  }
}

/* Large screens */
@media (min-width: 1600px) and (max-width: 2100px){
  body {
    width: 75%; /* Reduce to 60% width on larger screens */

  }
  .progress-panel {
    width: 80%;
  }
}
/* X Large screens */
@media (min-width: 2100px) {
  body {
    width: 65%; /* Reduce to 60% width on larger screens */

  }
  .progress-panel {
    width: 65%;
  }
}



/* Mobile Styles */
@media (max-width: 768px) {
  body {
    padding-top: 1em; /* So content doesnt go behind nav bar  */

  }
  .progress-panel {
    width: 95%;
  }
  /* Shared base styles for all positions */
  .video-overlay-text {
    position: absolute;
    color: white;
    font-size: 11px; /* Smaller font size for mobile devices */
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 5px; /* Smaller padding to reduce overlay size */
    max-width: 90%; /* Ensures it doesn't span the full width of the screen */
    border-radius: 3px; /* Smaller border-radius for a subtler appearance */
    pointer-events: none;
    -webkit-text-stroke: .25px red; /* width and color of stroke */
  }

  /* Top left */
  .video-overlay-text-top-left {
    top: 1%;
    left: 1%;
    text-align: left;
  }

  /* Bottom left */
  .video-overlay-text-bottom-left {
    bottom: 1%;
    left: 1%;
    text-align: left;
  }

  /* Top center */
  .video-overlay-text-top-center {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  /* Bottom center */
  .video-overlay-text-bottom-center {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  /* Top right */
  .video-overlay-text-top-right {
    top: 1%;
    right: 1%;
    text-align: right;
  }

  /* Bottom right */
  .video-overlay-text-bottom-right {
    bottom: 1%;
    right: 1%;
    text-align: right;
  }
}

/* Desktop Styles */
@media (min-width: 769px) {

  /* Shared base styles for all positions */
  .video-overlay-text {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
  }

  /* Top left */
  .video-overlay-text-top-left {
    top: 2%;
    left: 2%;
  }

  /* Bottom left */
  .video-overlay-text-bottom-left {
    bottom: 2%;
    left: 2%;
  }

  /* Top center */
  .video-overlay-text-top-center {
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Bottom center */
  .video-overlay-text-bottom-center {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Top right */
  .video-overlay-text-top-right {
    top: 2%;
    right: 2%;
  }

  /* Bottom right */
  .video-overlay-text-bottom-right {
    bottom: 2%;
    right: 2%;
  }
}

.calendar-container {
  position: relative; /* This makes it a reference for absolutely positioned children */
}

.calendar-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;


}

.p-progressbar {
  flex: 1;
  margin-left: 10px;
  overflow: visible; /* Ensure overflow content is visible */

}



.p-progressbar-label {
  z-index: 10000;
  color: #ffffff; /* Ensuring high contrast */
  font-weight: bolder;
  font-size: 14px; /* Smaller font size for better fit */
  padding: 0 15px; /* Ensuring text is padded to prevent cutting */
  white-space: nowrap;
  overflow: visible; /* Prevent overflow */
  text-overflow: ellipsis; /* Use ellipsis for overflow text */
}
.p-progressbar.darker-blue .p-progressbar-value {
  position: relative; /* For proper stacking context of the label */

  background-color: rgba(70, 68, 243, 0.95); /* Very dark blue with low transparency */
  
}
.p-progressbar.dark-blue .p-progressbar-value {
  background-color: rgba(90, 88, 245, 0.8); /* Dark blue */
}
.p-progressbar.mid-dark-blue .p-progressbar-value {
  background-color: rgba(110, 108, 247, 0.65); /* Mid dark blue */
}
.p-progressbar.light-blue .p-progressbar-value {
  background-color: rgba(130, 138, 250, 0.5); /* Lighter blue with higher transparency */
}
.p-progressbar.very-light-blue .p-progressbar-value {
  background-color: rgba(152, 162, 255, 0.35); /* Very light blue with higher transparency */
}
.p-progressbar.light-red .p-progressbar-value {
  background-color: rgba(255, 150, 150, 0.35); /* Very light red */
}
.p-progressbar.less-light-red .p-progressbar-value {
  background-color: rgba(255, 100, 100, 0.45); /* Less light red */
}
.p-progressbar.mid-red .p-progressbar-value {
  background-color: rgba(255, 50, 50, 0.6); /* Mid red */
}
.p-progressbar.red .p-progressbar-value {
  background-color: rgba(255, 0, 0, 0.75); /* Red with medium transparency */
}
.p-progressbar.dark-red .p-progressbar-value {
  background-color: rgba(180, 0, 0, 0.85); /* Dark red with medium transparency */
}
.p-progressbar.darker-red .p-progressbar-value {
  background-color: rgba(139, 0, 0, 0.95); /* Very dark red with low transparency */
}

.progress-panel {
  background-color: #f9f9f9; /* Light background for the panel */
  padding: 10px;
  border: 1px solid #ccc; /* Optional border */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
  border-radius: 8px; /* Rounded corners */
  margin: auto; /* Centering content horizontally */
  position: relative; /* Essential for positioning the label absolutely */

}
