.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 5px;
    width: 60%; /* Adjust this width as needed */
    max-width: 600px; /* Optional: maximum width */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Optional: for better visibility */
    margin:  auto; /* Top and bottom margin */
  }

  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }