
/* PrimeVue and other imports */

@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'vue-toastification/dist/index.css';


$vt-toast-min-width: 100px !default;
$vt-toast-max-width: 600px !default;
$vt-toast-background: #ffffff !default;

$vt-toast-min-height: 64px !default;
$vt-toast-max-height: 80 !default;


@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";